<!-- Custom Favicon Links -->
<!-- Clear any existing favicon from browser cache -->
<link rel="icon" href="data:,">
<!-- Force browser to reload favicon with random version parameter -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ (resources.Get "media/favicon.png").RelPermalink }}?v={{ now.Unix }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ (resources.Get "media/favicon.png").RelPermalink }}?v={{ now.Unix }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ (resources.Get "media/favicon.png").RelPermalink }}?v={{ now.Unix }}">
<link rel="shortcut icon" href="{{ (resources.Get "media/favicon.png").RelPermalink }}?v={{ now.Unix }}">
<meta name="msapplication-TileImage" content="{{ (resources.Get "media/favicon.png").RelPermalink }}?v={{ now.Unix }}">
<!-- End Custom Favicon Links -->
